<!-- Menu toggle button -->

<a href="" class="dropdown-toggle" data-toggle="dropdown">
   <i class="fa fa-envelope-o"></i>
   <span class="label label-success">{{ mensajes.length }}</span>
</a>
<ul class="dropdown-menu" ng-switch="mensajes.length">
   <!-- Mensajes según la cantidad -->
   <li class="header" ng-switch-when="0">No tienes mensajes</li>
   <li class="header" ng-switch-when="1">
      Tienes {{ mensajes.length }} mensaje
   </li>
   <li class="header" ng-switch-default>
      Tienes {{ mensajes.length }} mensajes
   </li>
   <!-- Termina opciones de mensajes -->
   <li>
      <!-- inner menu: contains the messages -->
      <ul class="menu">
         <li ng-repeat="mensaje in mensajes">
            <!-- start message -->
            <a href="">
               <div class="pull-left">
                  <!-- User Image -->
                  <img
                     ng-src="{{ mensaje.img }}"
                     class="img-circle"
                     alt="User Image"
                  />
               </div>
               <!-- Message title and timestamp -->
               <h4>
                  {{ mensaje.nombre }}
                  <small
                     ><i class="fa fa-clock-o"></i> {{ mensaje.fecha }}</small
                  >
               </h4>
               <!-- The message -->
               <p>{{ mensaje.mensaje | mensajeCorto }}</p>
            </a>
         </li>
         <!-- end message -->
      </ul>
      <!-- /.menu -->
   </li>
   <li class="footer">
      <a href="">Ver todos los mensajes</a>
   </li>
</ul>
