<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
   <!-- Sidebar user panel (optional) -->
   <div class="user-panel">
      <div class="pull-left image">
         <img
            src="dist/img/user2-160x160.jpg"
            class="img-circle"
            alt="User Image"
         />
      </div>
      <div class="pull-left info">
         <p>{{ usuario.nombre }}</p>
         <!-- Status -->
         <a href=""><i class="fa fa-circle text-success"></i> Online</a>
      </div>
   </div>

   <!-- search form (Optional) -->
   <form action="" method="get" class="sidebar-form">
      <div class="input-group">
         <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search..."
         />
         <span class="input-group-btn">
            <button
               type="submit"
               name="search"
               id="search-btn"
               class="btn btn-flat"
            >
               <i class="fa fa-search"></i>
            </button>
         </span>
      </div>
   </form>
   <!-- /.search form -->

   <!-- Sidebar Menu -->
   <ul class="sidebar-menu">
      <li class="header">HEADER</li>
      <!-- Optionally, you can add icons to the links -->

      <!--  -->

      <!-- 
            Para controlar si la clase esta activa o no 
            creamos una variable en el mainCtrl y accedemos a ella
            desde este documento.
            Se crea en el mainCtrl ya que es un punto alto de nuestra 
            aplicacion donde cualquier cambio se ve reflejado.
      -->

      <!--  -->

      <li ng-class="mDashboard">
         <a href="#/"><i class="fa fa-link"></i> <span>Dashboard</span></a>
      </li>
      <li ng-class="mClientes">
         <a href="#/clientes/1"
            ><i class="fa fa-link"></i> <span>Clientes</span></a
         >
      </li>
      <li class="treeview">
         <a href=""
            ><i class="fa fa-link"></i> <span>Multilevel</span>
            <i class="fa fa-angle-left pull-right"></i
         ></a>
         <ul class="treeview-menu">
            <li><a href="">Link in level 2</a></li>
            <li><a href="">Link in level 2</a></li>
         </ul>
      </li>
   </ul>
   <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
