<div class="modal modal-primary fade" id="modal_cliente">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title">Cliente: </h4>
      </div>

      <!-- para limpiar el formulario se pasa como parametro formCliente al ng-submit -->
      <form 
          name="formCliente" 
          novalidate 
          ng-submit="guardar(clienteSelec, formCliente)"
        >

            <div class="modal-body">

                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <input ng-model="clienteSelec.nombre" type="text" class="form-control" required>
                </div>
            
                <div class="form-group">
                    <label class="col-sm-2 control-label">Correo</label>
                    <input ng-model="clienteSelec.correo" type="email" class="form-control" required>
                </div>
            
                <div class="form-group">
                    <label class="col-sm-2 control-label">Dirección</label>
                    <textarea ng-model="clienteSelec.direccion" type="text" class="form-control"></textarea>
                </div>
            
                <div class="form-group">
                    <label class="col-sm-2 control-label">País</label>
                    <select ng-model="clienteSelec.pais" type="text" class="form-control">
                        <option value="Costa Rica">Costa Rica</option>
                        <option value="Argentina">Argentina</option>
                        <option value="Mexico">Mexico</option>
                        <option value="Brasil">Brasil</option>
                    
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">telefono 1</label>
                    <input ng-model="clienteSelec.telefono1" type="text" class="form-control">
                </div>      
                <div class="form-group">
                    <label class="col-sm-2 control-label">telefono 2</label>
                    <input ng-model="clienteSelec.telefono2" type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">zip</label>
                    <input ng-model="clienteSelec.zip" type="text" class="form-control">
                </div>

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-outline"><i class="fa fa-save"></i>  Guardar</button>
            </div>

        </form>


    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
