<!-- Menu toggle button -->

<a href="" class="dropdown-toggle" data-toggle="dropdown">
   <i class="fa fa-bell-o"></i>
   <span class="label label-warning" ng-hide="notificaciones.length===0"
      >{{ notificaciones.length }}</span
   >
</a>
<ul class="dropdown-menu">
   <li class="header">Tienes {{ notificaciones.length }} notificaciones</li>
   <li>
      <!-- Inner Menu: contains the notifications -->
      <ul class="menu">
         <li>
            <!-- start notification -->
            <a href="" ng-repeat="notificacion in notificaciones">
               <i class="fa {{ notificacion.icon }} text-aqua"></i> {{
               notificacion.notificacion }}
            </a>
         </li>
         <!-- end notification -->
      </ul>
   </li>
   <li class="footer"><a href="">Ver todas las notificaciones</a></li>
</ul>
