<ol class="breadcrumb animated fadeIn fast">
   <li>
      <a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a>
   </li>
   <li class="active">Clientes</li>
</ol>

<div class="row">
   <div class="col-md-12">
      <div iv class="box">
         <div class="box-header with-border">
            <h3 class="box-title">Clientes</h3>

            <div class="box-tools">
               <div class="input-group">
                  <a ng-click="mostrarModal({})" class="btn btn-primary"
                     ><i class="fa fa-plus"></i> Agregar cliente</a
                  >
               </div>
            </div>
         </div>

         <!-- /.box-header -->
         <div class="box-body">
            <table class="table table-bordered">
               <thead>
                  <tr>
                     <th>#</th>
                     <th>Nombre</th>
                     <th>Correo</th>
                     <th>Telefono 1</th>
                     <th>Telefono 2</th>
                     <th>Editar</th>
                  </tr>
               </thead>
               <tbody>
                  <tr ng-repeat="cliente in clientes.clientes">
                     <td>{{ cliente.id }}</td>
                     <td>{{ cliente.nombre }}</td>
                     <td>{{ cliente.correo }}</td>
                     <td>{{ cliente.telefono1 }}</td>
                     <td>{{ cliente.telefono2 }}</td>
                     <td>
                        <a ng-click="mostrarModal( cliente )" class="btn btn-warning">
                           <i class="fa fa-edit"></i>
                        </a>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>

         <div class="box-footer clearfix">
            <ul class="pagination pagination-sm no-margin pull-right">
               <li>
                  <a ng-click="moverA(1)"><<</a>
               </li>
               <li
                  ng-repeat="pag in clientes.paginas"
                  ng-class="{
                     'active': clientes.pag_actual === pag
                  }"
               >
                  <!-- href no evita el refresco de la pagina por lo que debe evitarse -->
                  <!-- <a href="#/clientes/{{ pag }}">{{ pag }}</a> -->
                  <a ng-click="moverA(pag)">{{ pag }}</a>
               </li>
               <li>
                  <!-- <a href="#/clientes/{{ clientes.total_paginas }}">>></a> -->
                  <a ng-click="moverA(clientes.total_paginas)"">>></a>
               </li>
            </ul>
         </div>
      </div>
   </div>
</div>

<div ng-include="'template/modal_cliente.html'"></div>
